.menuList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 18px;
    display: flex;

}

.menuList li {
    margin-left: 32px;
    padding: 4px;
    text-transform: uppercase;

}

.menuList li a:hover {
    color: #66F0FF;
}